{#
    This marco render a Renderable object in 'table' layout.
    
    Param(s):
        \Wongyip\Laravel\Renderable\Renderable  R
#}
{% macro handle(R) %}

    {% if R.columns()|length %}

        {% import 'renderable::value' as valueRenderer %}

        {% if R.tableResponsive %}
        <div class="{{ R.tableResponsive }}">
        {% endif %}

            <table class="{{ R.tableClass }} model-renderable-table" style="{{ R.tableStyle }}">
                {% if R.tableCaption %}
                <caption>{{ R.tableCaption }}</caption>
                {% endif %}
                {% if R.renderTableHead %}
                <thead class="{{ R.tableHeadClass }}" style="{{ R.tableHeadStyle }}">
                    <tr>
                        <th class="{{ R.fieldHeaderClass }}" style="{{ R.fieldHeaderStyle }}">
                            {{ R.captionField }}
                        </th>
                        <th class="{{ R.valueHeaderClass }}" style="{{ R.valueHeaderStyle }}">
                            {{ R.captionValue }}
                        </th>
                    </tr>
                </thead>
                {% endif %}
                <tbody>
                {% for CR in R.renderables() %}
                    <tr class="renderable-column renderable-column-{{ CR.name }}">
                        <{{ R.tableLabelCellTag }} class="renderable-label renderable-label-{{ CR.name }} {{ R.labelClass }}" style="{{ R.labelStyle }}">
                            {{ CR.labelHTML ? CR.labelHTML|raw : CR.label }}
                        </{{ R.tableLabelCellTag }}>
                        <td class="renderable-value renderable-value-{{ CR.name }}">
                            {{ valueRenderer.handle(CR) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% if R.tableResponsive %}
        </div>
        {% endif %}

    {% else %}

        <p><em>Empty record.</em></p>
    
    {% endif %}

{% endmacro %}