{#
    This macro render a single ColumnRenderable object from the output of  
    RenderableInterface::renderables() method.

    Param(s):
        \Wongyip\Laravel\Renderable\Components\ColumnRenderable  CR
#}
{% macro handle(CR) %}

    {# Check it out! #}
    {% set VR = CR.valueRenderable() %}

    {# The default type on top. #}

    {% if CR.type == 'string' %}
    
        {{ CR.options.html ? VR|raw : VR }}

    {% elseif CR.type == 'text' %}
        
        {{ CR.options.html ? VR|raw : VR|nl2br }}
        
    {% elseif CR.type == 'ol' %}
    
        <ol class="{{ CR.options.listClass }}" style="{{ CR.options.listStyle }}">
            {% for val in VR %}
            <li class="{{ CR.options.itemClass }}" style="{{ CR.options.itemStyle }}">
                {{ CR.options.html ? val|raw : val}}
            </li>
            {% endfor %}
        </ol>
        
    {% elseif CR.type == 'ul' %}
    
        <ul class="{{ CR.options.listClass }}" style="{{ CR.options.listStyle }}">
            {% for val in VR %}
            <li class="{{ CR.options.itemClass }}" style="{{ CR.options.itemStyle }}">
                {{ CR.options.html ? val|raw : val}}
            </li>
            {% endfor %}
        </ul>

    {% elseif CR.type == 'lines' %}

        {% if CR.options.html %}

            {# Extra <div> wrapper for lines of "html value". #}
            {% for val in VR %}
                <div>{{ val|raw }}</div>
            {% endfor %}

        {% else %}

            {% for val in VR %}
                {{ val }}<br/>
            {% endfor %}

        {% endif %}

    {# Boolean, CSV and DateTime are parsed to string already. #}
    {% else %}
    
        {{ CR.options.html ? VR|raw : VR }}
        
    {% endif %}

{% endmacro %}
