{#
    This macro render a single ColumnRenderable object from the output of  
    RenderableInterface::renderables() method.

    Param(s):
        \Wongyip\Laravel\Renderable\ColumnRenderable  CR
#}
{% macro handle(CR) %}

    {# The default type on top. #}
    
    {% if CR.type == 'string' %}
    
        {{ CR.options.html ? CR.value|raw : CR.value }}

    {% elseif CR.type == 'text' %}
        
        {{ CR.options.html ? CR.value|raw : CR.value|nl2br }}
        
    {% elseif CR.type == 'ol' %}
    
        <ol>
        {% for val in CR.value %}
            <li>{{ CR.options.html ? val|raw : val }}</li>
        {% endfor %}
        </ol>
        
    {% elseif CR.type == 'ul' %}
    
        <ul>
        {% for val in CR.value %}
            <li>{{ CR.options.html ? val|raw : val }}</li>
        {% endfor %}
        </ul>

    {% else %}
    
        {{ CR.options.html ? CR.value|raw : CR.value }}
        
    {% endif %}

{% endmacro %}
