{#
    This macro render a single ColumnRenderable object from the output of  
    RenderableInterface::renderables() method.

    Param(s):
        \Wongyip\Laravel\Renderable\ColumnRenderable  CR
#}
{% macro handle(CR) %}

    {# Check it out! #}
    {% set VR = CR.valueRenderable() %}

    {# The default type on top. #}

    {% if CR.type == 'string' %}
    
        {{ CR.options.html ? VR|raw : VR }}

    {% elseif CR.type == 'text' %}
        
        {{ CR.options.html ? VR|raw : VR|nl2br }}
        
    {% elseif CR.type == 'ol' %}
    
        <ol>
        {% if CR.options.html %}

            {% for val in VR %}
            <li>{{ val|raw }}</li>
            {% endfor %}

        {% else %}

            {% for val in VR %}
            <li>{{ val }}</li>
            {% endfor %}

        {% endif %}
        </ol>
        
    {% elseif CR.type == 'ul' %}
    
        <ul>
        {% if CR.options.html %}

            {% for val in VR %}
            <li>{{ val|raw }}</li>
            {% endfor %}

        {% else %}

            {% for val in VR %}
            <li>{{ val }}</li>
            {% endfor %}

        {% endif %}
        </ul>

    {% elseif CR.type == 'lines' %}

        {% if CR.options.html %}

            {% for val in VR %}
                {{ val|raw }}<br/>
            {% endfor %}

        {% else %}

            {% for val in VR %}
                {{ val }}<br/>
            {% endfor %}

        {% endif %}

    {# Boolean, CSV and DateTime are parsed to string already. #}
    {% else %}
    
        {{ CR.options.html ? VR|raw : VR }}
        
    {% endif %}

{% endmacro %}
